In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

my_series = pd.Series(my_list)

print(my_series)

In [2]:
# ANSWER 3 :-

import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

      name  age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
 A DataFrame is a two-dimensional tabular data structure in Pandas that can contain multiple rows and columns, while a Series
    is a one-dimensional array-like object that can hold a data types like integers, strings, floats, . and a Series can 
    be thought of as a single column of data in a DataFrame.

In [3]:
import pandas as pd

# here Pandas Series
series = pd.Series([1, 2, 3, 4, 5])

# here Pandas DataFrame with the Series as one of its column
df = pd.DataFrame({'numbers': series})

print(df)

   numbers
0        1
1        2
2        3
3        4
4        5

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
head(): Returns the first 5 rows of the DataFrame .
tail(): Returns the last 5 rows of the DataFrame .
dtypes : Returns the type of data like (int , object(strings))
drop(): Drops one or more rows or columns from the DataFrame.
sort_values(): Sorts the DataFrame by one or more columns.

In [4]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)


df_sorted = df.sort_values(by='age')

print(df_sorted)

      name  age  Gender
0    Alice   25  Female
2  Charlie   27  Female
1      Bob   30    Male

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Mutable means that these objects can be modified in place of the values of the object can be changed without creating a 
new object.you can modify the values of a Series or DataFrame by assigning new values to their elements,
columns, or rows.

In [8]:
import pandas as pd

# here first series
names = pd.Series(['Rohan', 'Mohan', 'Sohan', 'Jayes'])

# here second series 
ages = pd.Series([32, 28, 45, 37])

# here third series 
salaries = pd.Series([55000, 65000, 80000, 72000])

data = {'Name': names, 'Age': ages, 'Salary': salaries}


df = pd.DataFrame(data)

print(df)

    Name  Age  Salary
0  Rohan   32   55000
1  Mohan   28   65000
2  Sohan   45   80000
3  Jayes   37   72000

In [10]:
df = pd.DataFrame(data)
df_sorted = df.sort_values(by='Age')

print(df_sorted)

    Name  Age  Salary
1  Mohan   28   65000
0  Rohan   32   55000
3  Jayes   37   72000
2  Sohan   45   80000

In [11]:
df = pd.DataFrame(data)
df_sorted = df.sort_values(by='Salary')

print(df_sorted)

    Name  Age  Salary
0  Rohan   32   55000
1  Mohan   28   65000
3  Jayes   37   72000
2  Sohan   45   80000